# 판다스 객체 생성

In [1]:
import pandas as pd

## 시리즈(1차원배열) 생성

In [2]:
pd.Series([90, 85, 95])

0    90
1    85
2    95
dtype: int64

In [3]:
# 동일한 자료형으로 변환
pd.Series([4, 3.5, 3.7])

0    4.0
1    3.5
2    3.7
dtype: float64

In [7]:
# 인덱스 지정
x = pd.Series([90, 80, 70], index=['A', 'B', 'C'])
x['A']

90

## 데이터 프레임 생성

In [8]:
# 넘파이로 데이터프레임생성
import numpy as np
arr=np.arange(12).reshape(3,4)
arr
df=pd.DataFrame(arr)
df

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
# 딕셔너리로 데이터프레임 생성
name=['장은실','오경선','양숙희']
dept=['컴공','영어','수학']
score=[90,80,95]
df = pd.DataFrame({'이름':name,
                   '점수':score,
                   '전공':dept})
print(df)

    이름  점수  전공
0  장은실  90  컴공
1  오경선  80  영어
2  양숙희  95  수학

In [ ]:
# csv 파일 읽어와 데이터프레임 생성

     Brand   Color  price
0  Samsung   Black    100
1       LG    Gold     70
2    Apple  Silver    150
3    Apple    Gray    120

In [ ]:
# 엑셀파일 읽어와 데이터프레임 생성

  국적코드  성별    입국객수    증가수
0  A01  남성  125000   8000
1  A01  여성  130000  10000
2  A05  남성     300     10
3  A05  여성     200     50
4  A06  남성  158912  24486
5  A06  여성  325000  63466

# 판다스 기초

## 판다스 데이터 확인

In [ ]:
# 준비파일 : weather.csv
# 데이터 불러오기

             날짜  평균기온  최저기온  최고기온
0    2021-01-01  -4.2  -9.8   1.6
1    2021-01-02  -5.0  -8.4  -1.4
2    2021-01-03  -5.6  -9.1  -2.0
3    2021-01-04  -3.5  -8.4   0.3
4    2021-01-05  -5.5  -9.9  -2.1
..          ...   ...   ...   ...
268  2021-09-26  22.6  18.4  27.3
269  2021-09-27  21.6  18.7  25.0
270  2021-09-28  21.5  19.6  24.4
271  2021-09-29  20.2  17.8  21.4
272  2021-09-30  20.3  16.0  25.9

[273 rows x 4 columns]

In [ ]:
# (행,열) 크기 확인

(273, 4)

In [ ]:
# 전체 구조

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      273 non-null    object
 1   평균기온    273 non-null    float64
 2   최저기온    273 non-null    float64
 3   최고기온    273 non-null    float64
dtypes: float64(3), object(1)
memory usage: 8.7+ KB

In [ ]:
# 데이터 일부 확인

             날짜  평균기온  최저기온  최고기온
268  2021-09-26  22.6  18.4  27.3
269  2021-09-27  21.6  18.7  25.0
270  2021-09-28  21.5  19.6  24.4
271  2021-09-29  20.2  17.8  21.4
272  2021-09-30  20.3  16.0  25.9

In [ ]:
# 인덱스 및 컬럼 정보 확인

Index(['날짜', '평균기온', '최저기온', '최고기온'], dtype='object')

In [ ]:
# 데이터 통계 정보확인

             평균기온        최저기온        최고기온
count  273.000000  273.000000  273.000000
mean    15.652747   11.503663   20.381319
std     10.613532   11.044199   10.531716
min    -14.900000  -18.600000  -10.700000
25%      8.800000    4.300000   14.200000
50%     18.400000   13.800000   23.000000
75%     23.900000   20.400000   28.800000
max     31.700000   27.800000   36.500000

In [ ]:
# 데이터 정렬

             날짜  평균기온  최저기온  최고기온
204  2021-07-24  31.7  26.9  36.5
205  2021-07-25  31.5  27.2  35.9
202  2021-07-22  31.2  26.5  35.9
203  2021-07-23  31.2  27.2  35.8
207  2021-07-27  31.1  27.8  35.7
..          ...   ...   ...   ...
28   2021-01-29  -8.8 -11.6  -4.9
47   2021-02-17  -8.3 -10.4  -5.2
8    2021-01-09 -12.2 -16.6  -7.5
6    2021-01-07 -14.5 -16.5  -8.4
7    2021-01-08 -14.9 -18.6 -10.7

[273 rows x 4 columns]

In [ ]:
# 응용문제 : 최고로 더웠던 10개의 데이터를 추출

In [ ]:
# 데이터 빈도 분석

student           153
housemaid         208
unemployed        223
entrepreneur      239
self-employed     256
retired           351
services          661
admin.            834
technician       1206
blue-collar      1499
management       1560
Name: job, dtype: int64

In [ ]:
# 특정 컬럼 정보 확인

12

## 데이터 선택

In [ ]:
# 단일 컬럼 선택

0       1.6
1      -1.4
2      -2.0
3       0.3
4      -2.1
       ...
268    27.3
269    25.0
270    24.4
271    21.4
272    25.9
Name: 최고기온, Length: 273, dtype: float64

In [ ]:
# 여러 컬럼 선택

           날짜  평균기온
0  2021-01-01  -4.2
1  2021-01-02  -5.0
2  2021-01-03  -5.6

In [ ]:
# 특정 범위의 행 선택

            날짜  평균기온
10  2021-01-11  -6.7
11  2021-01-12  -3.9
12  2021-01-13   2.0
13  2021-01-14   1.7
14  2021-01-15   4.5
15  2021-01-16  -4.9
16  2021-01-17  -5.5
17  2021-01-18  -3.8
18  2021-01-19  -6.3
19  2021-01-20  -0.1

In [ ]:
# 조건에 맞는 데이터 추출
# 평균기온이 30도 이상인 데이터 추출

             날짜  평균기온  최저기온  최고기온
201  2021-07-21  30.5  25.3  35.3
202  2021-07-22  31.2  26.5  35.9
203  2021-07-23  31.2  27.2  35.8
204  2021-07-24  31.7  26.9  36.5
205  2021-07-25  31.5  27.2  35.9
206  2021-07-26  31.2  27.4  35.4
207  2021-07-27  31.1  27.8  35.7
208  2021-07-28  30.4  27.1  34.7
210  2021-07-30  30.5  25.8  35.4

In [ ]:
# 가장 더웠던 날의 모든 정보 추출

             날짜  평균기온  최저기온  최고기온
204  2021-07-24  31.7  26.9  36.5

In [ ]:
# 일교차가 16도 이상인 데이터

             날짜  평균기온  최저기온  최고기온
49   2021-02-19   1.6  -7.1   8.9
89   2021-03-31  14.5   5.9  22.9
110  2021-04-21  19.1  10.3  28.2
130  2021-05-11  18.5   9.4  25.7